<div>
  <app-moon-instance
    [style.--moon-x]="moonX"
    [style.--moon-y]="moonY"
    [style]="moonStyle"
    class="moon"
  ></app-moon-instance>

  <app-sun-instance
    [style.--sun-x]="sunX"
    [style.--sun-y]="sunY"
    [style]="sunStyle"
    class="sun"
  ></app-sun-instance>

  <div class="stars">
    <app-star-instance
      *ngFor="let param of starsParameters"
      [size]="param.size"
      [delay]="param.delay"
      [style]="param.style"
    ></app-star-instance>
  </div>
</div>
