.moon {
  position: absolute;
  width: 14%;
  transform: translate(var(--moon-x), var(--moon-y));

  transition: transform 1.2s ease-in-out;
}

.sun {
  position: absolute;
  width: 14%;
  transform: translate(var(--sun-x), var(--sun-y));

  transition: transform 1.2s ease-in-out;
}

.stars > * {
  position: absolute;
  width: 10%;
  height: 10%;
}
