<div
  (mousemove)="mouseMove($event)"
  [style.--back-color]="backColor"
  class="background-gradient"
>
  <app-background
    [mouseMoveEvent]="mouseMoveEvent.asObservable()"
    [changeModeEvent]="changeModeEvent.asObservable()"
  ></app-background>
  <app-house
    [mouseMoveEvent]="mouseMoveEvent.asObservable()"
    [changeModeEvent]="changeModeEvent.asObservable()"
  ></app-house>
  <app-moon-sun
    [changeModeEvent]="changeModeEvent.asObservable()"
  ></app-moon-sun>
  <app-light-button
    (clickEvent)="changeMode($event)"
    class="day-night-toggle"
  ></app-light-button>

  <p class="footer">
    <a href="http://norollah.com" target="_blank"
      >Designed by Amin Norollah - balrug.</a
    >
  </p>

  <p class="mobileMessage">
    This project is not responsive and I was not developing it for the smart
    phone users. Please see this page on your desktop.
  </p>
</div>
