.background-night {
  background-image: linear-gradient(to bottom, #211a75, #9dbdf5);
  height: 100%;
}

.background-day {
  background-image: linear-gradient(to bottom, #82e6ff, #ffffcc);
  height: 100%;
}

.day-night-toggle {
  position: absolute;
  left: 40vw;
  top: 9.5vw;
}
